*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/log
/Rails
/Test
/tmp

.idea/*

*.properties

nbproject/project.xml

mysql-connector-license.txt

mysql-connector-java-5.1.18-bin.jar

nbproject/private/private.xml

database.yml