<a href="#">
  <%= image_tag @group.avatar.url(:small), :size => "50x50"  %>
</a>
<h1>
  <%= @group.department.name %>
</h1>
<span>
  <%= link_to "About group", "#" %>
</span>
<span>
  <%= pluralize(@group.microposts.count, "micropost") %>
</span>