<%= form_for([@group.college, @group.department, @group, @micropost]) do |f| %>
    <div class="post_field">
      <%= f.text_area :content, :placeholder => "Compose new micropost..." %>
    </div>
    <%= f.submit "Post", :class => "btn btn-large btn-primary" %>
<% end %>