<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>College Name:</b>
  <%= @group.college.name %>
</p>

<p>
  <b>Department Name:</b>
  <%= @group.department.name %>
</p>
