<div class="user_colleges">
	<!-- add logic to add college-->
<%if @user.user_colleges.any?%>
	<% for user_college in @user.user_colleges %>
	
	<div class="user_college">
		<div class="user_college_year">
			<%= college.start_date %>
		</div>
		<div class="user_college_image">
          <%= image_tag college.avatar.url(:small), :size => "50x50"  %>
		</div>
		
		<div class="user_college_details">
			<%= link_to  College.find_by_id(user_college.college_id), college %>
		</div>
	</div>
</div>
      <% end %>
<%end%>

      
     <!--  <%= link_to college.name, college %> -->
     
