<% provide(:title, @user.name) %>

<%= render 'user_profile' %>
<%= render 'user_dashboard' %>

<div class="content-main" id="timeline" role="main">
  <div class="post_form" id ="post_form">
    <%= render 'micropost_form' %>
  </div>

  <div class="stream-container conversations-enabled persistent-inline-actions light-inline-actions">
    <div class="stream-item">

    </div>
    <div class="feed home-feed">
      <% @feed_items = @user.related_microposts.paginate(:page => params[:page]) %>
      <%= render 'shared/feed' %>
    </div>
  </div>
</div>