<% if current_user?(@user) %>
    <section >
      <ol>
        <% @notifications = @user.inbox_notifications %>
        <%= render :partial => 'shared/notification_item', :collection=> @notifications %>
      </ol>
    </section>
    <% else %>
        <h1>You think, I am stupid ?? !! </h1>
<% end %>