<% if current_user?(@user) %>
    <section >
      <% @user.inbox_notifications.each do |notification| %>
        <li>
            <p ><%= notification.notification.description  %></p>
        </li>
      <% end %>
    </section>
    <% else %>
        <h1>You think, I am stupid ?? !! </h1>
<% end %>