<div class="comment-items" id="comments_post_<%= @micro_post.id%>">
<ol>
  <% @comment_items = @micro_post.comments %>
  <%= render :partial => 'shared/comment_item', :collection=> @comment_items %>
</ol>
</div>

   <% @comment = Comment.new(:micropost_id => @micro_post.id) %>
   <% @comment.user_id = current_user.id %>
   <div id="comments_post_form_<%= @micro_post.id%>">
   <%= render 'comments/comment_form' %>
</div>
