<% notification = inbox_item.notification %>
<a href="<%= get_referred_url_for_notification(notification) %>">
<li id="<%= 'notification_' + notification.id.to_s %>">
  <span class="content">
    <block>
      <%= render(:inline => notification.description) %>
    </block>
  </span>
  <span class="timestamp">
  </span>

</li></a>
<li class="divider"></li>