<li id="<%= 'notification_' + notification_item.id.to_s %>">
  <span class="content">
    <%= @event = notification_item.event %>
    <% link_to get_string_to_be_printed(notification_item) %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>

</li>
