    <% if !current_user.colleges.blank? %>
        <div class="colleges-inner">
          <div class="flex-module trends-container ">
            <div class="flex-module-header">
                <h3>
                  <span class="colleges-list">Colleges</span>
                </h3>
            </div>
          </div>
        </div>
    <ol class="groups_collegs">
      <% for college in current_user.colleges %>
      <li>
       <%= link_to college.name, college %> 
       </li>
      <% end %>
      </ol>
    <% end %>
  