<% @user ||= current_user %>
<ul class="stats js-mini-profile-stats">
  <li>
    <a class="js-nav" data-is-compact="false" data-nav="profile" href="<%= following_user_path(@user) %>">
      FOLLOWING
      <strong id="following" class="stat">
        <%= @user.followed_users.count %>
      </strong>
    </a>
  </li>
  <li>
  <a href="<%= followers_user_path(@user) %>">
    FOLLOWERS
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
  </a>
  </li>
</ul>