<a class="account-summary account-summary-small js-nav" data-nav="profile" href="<%= user_path(current_user) %>">
  <div class="content">
    <div class="account-group js-mini-current-user">
      <%= image_tag current_user.avatar.url(:thumb), :size => "80x80", :class => "avatar" %>
      <b class="fullname"><%= current_user.name %></b>
    </div>
  </div>
</a>