<a href="#">
  <%= image_tag @department.avatar.url(:small), :size => "50x50"  %>
</a>
<h1>
  <%= @department.name %>
</h1>
<span>
  <%= link_to "About department", "#" %>
</span>
<span>
  <%= pluralize(@department.microposts.count, "micropost") %>
</span>