<% if @department.groups.any? %>
<ol class="groups_collegs">
	<% for group in @department.groups %>
	<li>
		<%= link_to group.name, college_department_group_path(@department.college, @department, group) %>
	</li>
	<% end %>
</ol>
<% end %>
