<a href="#">
  <%= image_tag @college.avatar.url(:small), :size => "50x50"  %>
</a>
<h1>
  <%= @college.name %>
</h1>
<span>
  <%= link_to "About college", "#" %>
</span>
<span>
  <%= pluralize(@college.microposts.count, "micropost") %>
</span>