<p id="notice"><%= notice %></p>
<div class="college_details">

<p>
  <b>Address:</b>
  <%= @college.address1 + ", " + @college.address2 + @college.city + ", " + @college.state + ", " + @college.country + "-" + @college.zip_code %>
</p>

<p>
  <b>Contact :</b>
  <%= "Ph:" + @college.phone + " email:" + @college.contact_email + "Website:" + @college.website %>
</p>

</div>
